<!-- cntnd_language_selector/template/default.html -->
<div class="cntnd_language_selector">
{foreach name=lang from=$languages item=lang key=idlang}
    <!-- idlang: {$idlang} -->
    {if !$lang.url && $showDisabled}
        <span class="cntnd_language_selector--language cntnd_language_selector--language-deactivate">{$lang.name}</span>
    {else}
        <a href="{$lang.url}" class="cntnd_language_selector--language">{$lang.name}</a>
    {/if}
{/foreach}
</div>
<!-- cntnd_language_selector/template/default.html -->